<div id="siteFooter" role="contentinfo">
  <a name="footerLinks" tabindex="-1"></a>
  <footer class="clearfix">
    <div class="container">
      <div class="site-footer-logo">
        <a class="footer-access" href="/" tabindex="0"><img class="footer-logo" src="https://rally.demo.socrata.com/api/assets/8A3E5933-34E2-4A5D-958E-19322771D461?city-seal.png" alt="Socrata"></a>
      </div>
      <ul class="site-footer-nav">
        <li><a href="/" rel="nofollow">Home</a></li>
        <li><a href="/browse" rel="nofollow">Catalog</a></li>
        <li><a href="http://www.socrata.com/terms-of-service/" rel="nofollow">Terms of use</a></li>
        <li><a href="http://www.socrata.com/privacy/" rel="nofollow">Privacy Policy</a></li>
        <li><a href="http://www.socrata.com/accessibility/" rel="nofollow">Accessibility</a></li>
        <li><a href="http://www.socrata.com/contact-us/" rel="nofollow">Contact Us</a></li>
      </ul>
      <div class="site-footer-copyright">
        <div class="copyright">&copy; 2015 Socrata</div>
        <div class="socrata-logo"><a href="http://socrata.com/" title="Powered by Socrata"></a></div>
      </div>
    </div>
  </footer>
</div>
