<div class="header-title">
  <% if @editing %>
    <%= fields_for :properties, @content.accessible_properties do |p| %>
      <div><%= p.label :logo_url %>: <%= p.text_field :logo_url %></div>
    <% end %>
  <% else %>
    <a href="/en/" tabindex='0'>
      <img class="header-logo" src="https://rally.demo.socrata.com/api/assets/7D5FC01B-EE5F-45D8-9724-87418178A88B?site-title.png" alt='Socrata'>
    </a>
  <% end %>
</div>

<div class="header-links">
  <ul class="site-user-nav">
    <li class="accountLink hide"><a href="/profile" title="Your Home"><span class="text">Hello, <span class="currentUser">Unknown User</span></span></a></li>
      <li class="adminLink hide">
        <a href="/admin" title="Administration"><span class="text">Administration</span></a>
      </li>
      <li class="signUpLink"><a href="/signup" rel="nofollow" title="Sign Up">
        <span class="text">Sign Up</span></a></li>
        <li class="signInLink"><a href="/login" rel="nofollow" title="Log In ">
          <span class="text">Log In</span></a>
        </li>
        <li class="signOutLink hide"><a href="/logout" rel="nofollow" title="Sign Out ">
          <span class="text">Sign Out</span></a>
        </li>
      </ul>
      <ul class="social-nav">
        <li><a class='header-access' href="http://www.youtube.com/socrata"><i class="fa fa-fw fa-youtube"></i></a></li>
        <li><a class='header-access' href="http://twitter.com/socrata"><i class="fa fa-fw fa-twitter"></i></a></li>
      </ul>
    </div>

    <div id="header-toggle" class="header-toggle">
      <span class="hamburger ss-icon ss-rows"></span>
    </div>

    <% unless @editing %>
      <div id="search" class="search-container">
        <form action="/en/browse" method="get">
          <input id="search-input" type="text" name="q" placeholder="Search" tabindex='0'>
          <button type="submit" class="search-button" value="">
          <span class="search-icon ss-icon">&#x1F50E;</span>
          <span class="search-button-text visuallyhidden">Search</span>
          </button>
        </form>
      </div>
    <% end %>
  </div>
</div>
