<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta content="authenticity_token" name="csrf-param" />
<meta content="zUWOA9k/k3VF/7ZLqMddYEMJize9Z3juR0OfFwrpqJQ=" name="csrf-token" />
<link rel="image_src" href="/stylesheets/images/common/socrata_logo_square.png" />
<title>Rally - Open Data Portal</title>
<meta name="title" content="Rally - Open Data Portal" />
<meta property="og:title" content="Rally - Open Data Portal" />
<meta property="og:site_name" content="Socrata" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://rally.demo.socrata.com/" />
<meta property="og:image" content="http://rally.demo.socrata.com/stylesheets/images/common/socrata_logo_square.png" />
