<nav class="nav-banner">
  <div class="container">
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/browse">Catalog</a></li>
      <li><a href="https://rally.demo.socrata.com/videos">User’s Guide</a></li>
      <li><a href="http://dev.socrata.com/">Developers</a></li>
    </ul>
  </div>
</nav>
