<div class="socrata-component component-Container  container serverRendered notRendered socrata-container" id="main" style="">
  <div class="socrata-component component-Repeater  tile-grid category-tiles row full-bleed clearfix serverRendered notRendered socrata-container" id="category-tiles" style="" aria-live="polite">
    <div class="socrata-component component-Container   serverRendered notRendered socrata-container" id="s8" style="">
      <div class="socrata-component component-Container  id-clone serverRendered" id="category-tiles-0-clone" style="">
        <div class="socrata-component component-Text serverRendered" id="category-tiles-0-s4" style="">
          <div class="content-wrapper  id-s4">
            <div class="tile" tabindex="0" aria-describedby="1">
              <div class="tile-label">
                <div class="tile-icon ss-icon"></div>
                <h2 class="tile-title">Data Lens Pages</h2>
              </div>
              <a href="/browse?limitTo=new_view">
                <div class="tile-description">
                  <p id="1">Data Lens is a reimagined data consumption experience that challenges the status quo with a visually engaging and intuitive interface.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="socrata-component component-Container  id-clone serverRendered" id="category-tiles-1-clone" style="">
        <div class="socrata-component component-Text serverRendered" id="category-tiles-1-s4" style="">
          <div class="content-wrapper  id-s4">
            <div class="tile" tabindex="0" aria-describedby="2">
              <div class="tile-label">
                <div class="tile-icon ss-icon"></div>
                <h2 class="tile-title">Datasets</h2>
              </div>
              <a href="/browse?limitTo=datasets">
                <div class="tile-description">
                  <p id="2">Access to datasets including viewing online and downloading in a variety of formats</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="socrata-component component-Container  id-clone serverRendered" id="category-tiles-2-clone" style="">
        <div class="socrata-component component-Text serverRendered" id="category-tiles-2-s4" style="">
          <div class="content-wrapper  id-s4">
            <div class="tile" tabindex="0" aria-describedby="3">
              <div class="tile-label">
                <div class="tile-icon ss-icon"></div>
                <h2 class="tile-title">Charts</h2>
              </div>
              <a href="/browse?limitTo=charts">
                <div class="tile-description">
                  <p id="3">Access to datasets visualized as a charts</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="socrata-component component-Container  id-clone serverRendered" id="category-tiles-3-clone" style="">
        <div class="socrata-component component-Text serverRendered" id="category-tiles-3-s4" style="">
          <div class="content-wrapper  id-s4">
            <div class="tile" tabindex="0" aria-describedby="4">
              <div class="tile-label" style="display: block;">
                <div class="tile-icon ss-icon"></div>
                <h2 class="tile-title">Maps</h2>
              </div>
              <a href="/browse?limitTo=maps">
                <div class="tile-description" style="display: none;">
                  <p id="4">Access to datasets visualized as maps as well as downloadable geospatial files like Shapefiles in a variety of formats</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="socrata-component component-Container  id-clone serverRendered" id="category-tiles-4-clone" style="">
        <div class="socrata-component component-Text serverRendered" id="category-tiles-4-s4" style="">
          <div class="content-wrapper  id-s4">
            <div class="tile" tabindex="0" aria-describedby="5">
              <div class="tile-label">
                <div class="tile-icon ss-icon">📅</div>
                <h2 class="tile-title">Calenders</h2>
              </div>
              <a href="/browse?limitTo=calendars">
                <div class="tile-description">
                  <p id="5">Access to datasets visualized as a calendar</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="socrata-component component-Container  id-clone serverRendered" id="category-tiles-5-clone" style="">
        <div class="socrata-component component-Text serverRendered" id="category-tiles-5-s4" style="">
          <div class="content-wrapper  id-s4">
            <div class="tile" tabindex="0" aria-describedby="6">
              <div class="tile-label">
                <div class="tile-icon ss-icon">🔗</div>
                <h2 class="tile-title">External Datasets</h2>
              </div>
              <a href="/browse?limitTo=href">
                <div class="tile-description">
                  <p id="6">Access to datasets or files hosted on external servers but cataloged here for your convenience</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="socrata-component component-Container  id-clone serverRendered" id="category-tiles-6-clone" style="">
        <div class="socrata-component component-Text serverRendered" id="category-tiles-6-s4" style="">
          <div class="content-wrapper  id-s4">
            <div class="tile" tabindex="0" aria-describedby="7">
              <div class="tile-label">
                <div class="tile-icon ss-icon">📄</div>
                <h2 class="tile-title">Files and Documents</h2>
              </div>
              <a href="/browse?limitTo=blob">
                <div class="tile-description">
                  <p id="7">Access to static files and documents, such as PDFs or similar</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="socrata-component component-Container  id-clone serverRendered" id="category-tiles-7-clone" style="">
        <div class="socrata-component component-Text serverRendered" id="category-tiles-7-s4" style="">
          <div class="content-wrapper  id-s4">
            <div class="tile" tabindex="0" aria-describedby="8">
              <div class="tile-label" style="display: block;">
                <div class="tile-icon ss-icon">🔎</div>
                <h2 class="tile-title">View Catalog</h2>
              </div>
              <a href="/browse">
                <div class="tile-description" style="display: none;">
                  <p id="8">Access to the entire catalog of datasets, charts, and so much more!</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="loadingSpinnerContainer hide">
      <div class="loadingSpinner minimal"></div>
      <div class="loadingMessage hide"></div>
      <div class="loadingCountdown hide">Checking<span class="secondsSection"> in <span class="seconds"></span> seconds</span>...</div>
    </div>
  </div>
  <div class="socrata-component component-Repeater  tile-grid featured-tiles row full-bleed clearfix serverRendered notRendered socrata-container" id="featured-stories" style="" aria-live="polite">
    <div class="socrata-component component-Container   serverRendered notRendered socrata-container" id="s9" style="">
      <div class="socrata-component component-Container  id-clone serverRendered" id="featured-stories-0-clone" style="">
        <div class="socrata-component component-Text serverRendered" id="featured-stories-0-s5" style="">
          <div class="content-wrapper  id-s5">
            <div class="tile">
              <div class="tile-image" style="background-image:url(https://rally.demo.socrata.com/views/8h7b-g8ei/files/DANgr8auvsgf66_ZV-szYVq-l6XLfkEGtRdzswGir2w);"><a href="http://www.socrata.com/open-data-guide-chapter/why-does-my-organization-need-open-data/"></a></div>
              <h2 class="tile-title"><a href="http://www.socrata.com/open-data-guide-chapter/why-does-my-organization-need-open-data/">Why Does My Organization Need Open Data?</a></h2>
              <div class="tile-description">Making data that belongs to the public broadly accessible and usable by humans and machines, free of any constraints.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="socrata-component component-Container  id-clone serverRendered" id="featured-stories-1-clone" style="">
        <div class="socrata-component component-Text serverRendered" id="featured-stories-1-s5" style="">
          <div class="content-wrapper  id-s5">
            <div class="tile">
              <div class="tile-image" style="background-image:url(https://rally.demo.socrata.com/views/8h7b-g8ei/files/A2OCLBAfYghErKsCkvOHWzKDGgdkbx1ln17UK4u0lLY);"><a href="http://www.socrata.com/open-data-guide-chapter/define-clear-and-measurable-goals/"></a></div>
              <h2 class="tile-title"><a href="http://www.socrata.com/open-data-guide-chapter/define-clear-and-measurable-goals/">Define Clear and Measurable Goals</a></h2>
              <div class="tile-description">In our experience, the most successful open data initiatives identify their open data goals from the outset based on their priorities as an organization.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="socrata-component component-Container  id-clone serverRendered" id="featured-stories-2-clone" style="">
        <div class="socrata-component component-Text serverRendered" id="featured-stories-2-s5" style="">
          <div class="content-wrapper  id-s5">
            <div class="tile">
              <div class="tile-image" style="background-image:url(https://rally.demo.socrata.com/views/8h7b-g8ei/files/qcKPPC7pLV8kw4npDyKJ-QHlYKe2By1xx5006xpsoB4);"><a href="http://www.socrata.com/open-data-guide-chapter/implementation/"></a></div>
              <h2 class="tile-title"><a href="http://www.socrata.com/open-data-guide-chapter/implementation/">Open Data Implementation in Six Steps</a></h2>
              <div class="tile-description">We highly recommend you approach your implementation in phases. In this section, we outline the different phases needed and the tangible benefits at each step.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="socrata-component component-Container  id-clone serverRendered" id="featured-stories-3-clone" style="">
        <div class="socrata-component component-Text serverRendered" id="featured-stories-3-s5" style="">
          <div class="content-wrapper  id-s5">
            <div class="tile">
              <div class="tile-image" style="background-image:url(https://rally.demo.socrata.com/views/8h7b-g8ei/files/G9ocMFHHDyxpr54sAwRiC44rMwrTPjvqmISRu2lqlXo);"><a href="http://www.socrata.com/open-data-guide-chapter/citizen-experience/"></a></div>
              <h2 class="tile-title"><a href="http://www.socrata.com/open-data-guide-chapter/citizen-experience/">An Outstanding Citizen Experience</a></h2>
              <div class="tile-description">Remember the early days of the Web, when an animated GIF was the height of human creativity online? We have come a long way since then towards making the Web interactive and user-friendly.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="loadingSpinnerContainer hide">
      <div class="loadingSpinner minimal"></div>
      <div class="loadingMessage hide"></div>
      <div class="loadingCountdown hide">Checking<span class="secondsSection"> in <span class="seconds"></span> seconds</span>...</div>
    </div>
  </div>
</div>
