<div style="background: grey; color: white; padding: 1rem">
  <p>This page is provided directly by Rails and can include content from the CMS as necessary.</p>
  <p>It uses its <em>own layout</em> called <strong>cms</strong> to avoid duplicating the header and footer. This is less than ideal and a decision should be made as to where
  <ul>
    <% 70.times do |i| %>
    <li>Dataset #<%= i + 1 %></li>
    <% end %>
  </ul>
</div>
